.contentBox > h1 {
  position: relative;

  color: #550000;
}
.contentBox > h1 > span {
  position: absolute;
  right: 24px;

  font-size: 18px;
  color: #333333;
}

.gameBox {
  margin-top: 20px;

  width: 760px;
  height: 500px;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

#gameForm {
  position: relative;
  z-index: 5px;
  margin-top: 20px;

  width: 760px;
  height: 144px;

  box-sizing: border-box;
  padding: 9px;

  background: #aaaaaa;
  border: 1px solid #333333;
  border-radius: 10px;

  display: flex;
}
#gameForm > div:nth-of-type(1) {
  width: 650px;
  height: 124px;
}
#gameForm h3 {
  width: 650px;
  height: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
#gameForm h3:nth-of-type(2) {
  text-align: right;
}
#gameForm input {
  margin: 8px 0;

  width: 650px;
  height: 48px;

  box-sizing: border-box;
  padding: 0px 10px;

  font-size: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#gameForm button {
  margin-left: 12px;

  width: 78px;
  height: 124px;

  background: #c4c4c4;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #550000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#gameForm button:active {
  transform: translateY(4px);

  box-shadow: none;
}
.isTurn {
  box-shadow: 0px 0px 10px rgba(81, 0, 0, 1);
}
